    <table class="table table-hover">
    <tr class="info tableheading">
        <td> Lesson</td>
        <td> Created by</td>
        <td> Created on</td>
        <td> Contains</td>
    </tr>
        {% for lesson in lessons %}
            <tr>
                <td>
                    <a href="{% url 'view_lesson' lesson.id %}">{{ lesson|title }}</a>
                </td>

                <td>
                    <a href="{% url 'view_user' lesson.creator.username %}">{{ lesson.creator | lower }}</a>
                </td>
                <td>
                    {{ lesson.created|date:"SHORT_DATE_FORMAT" }}
                </td>
                <td>
                   {{ lesson.sentences.count }} sentence{{ lesson.sentences.count|pluralize }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    No Lessons Found
                </td>
            </tr>
        {% endfor %}
    </table>
