{% extends "everest/base.html" %}

{% block pageheader %}
<div class="title">
    Sentences
</div>{% endblock %}

{% block content %}
<form action="{% url 'search_sentences' %}" method="get">
    <div class="input-group">
        <input type="text" class="form-control" name="query" value="{{ query }}" autofocus>
		  <span class="input-group-btn">
		    <button class="btn btn-default" type="submit">Filter</button>
		  </span>
    </div>
</form>

<div class="smallskip"></div>

{% include "everest/general/sentence_table.html" %}
{% endblock %}
