<table class="table table-hover">
    <tr class="tableheading">
        <td> English sentence</td>
        <td> Nepali translation</td>
        <td> English audio</td>
        <td> Nepali audio</td>
        <td> Contained in</td>
        <td> Date created</td>
    </tr>
    {% for sentence in sentences %}
        <tr>
            <td style="width:50%">
                <a href="{% url 'view_sentence' sentence.id %}">{{ sentence }}</a>
            </td>
            <td>
                {% if sentence.translations.count > 0 %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
            <td>
                {% if sentence.eng_audio.count > 0 %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
            <td>
                {% if sentence.nep_audio.count > 0 %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
            <td>
                {{ sentence.lessons.count }} lesson{{ lesson.sentences.count|pluralize }}
            </td>
            <td>
                {{ sentence.created|date:"SHORT_DATE_FORMAT" }}
            </td>
        </tr>
    {% endfor %}
</table>