{% extends "everest/base.html" %}

{% block title %}Manage Account{% endblock %}

{% block content %}
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                {% if request.user.profile.image %}
                    <img id="user-picture" src="{{ request.user.profile.image.url }}" class="avatar img-circle"
                         height="150px" width="150px" alt="avatar">
                {% else %}
                    <img id="user-picture" src="http://placehold.it/150x150" class="avatar img-circle" height="150px"
                         width="150px" alt="avatar">
                {% endif %}
                <h6>Upload a different photo...</h6>

                <form id="picture-form" class="form-horizontal" role="form" action="{% url 'change_picture' %}"
                      method="post"> {% csrf_token %}
                    <div id="picture-errors"></div>
                    <input type="file" id="picture-input" name="image" accept="image/*" class="form-control">
                    <input type="submit" class="btn" value="Upload Photo">
                </form>
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h3>Personal info</h3>
            <br>

            <div id="personal-form">
                {% include 'everest/profile/edit_personal_form.html' %}
            </div>
            <br>
            <br>

            <h3>Change Password</h3>
            <br>

            <div id="password-form">
                {% include 'everest/profile/edit_password_form.html' %}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}



{% block scripts %}
    <script>
        $("#personal-form").on("submit", function (e) {
            console.log("hai");
            $.ajax({
                type: "POST",
                url: $("#personal-form > form").attr('action'),
                data: $("#personal-form > form").serialize(),
                success: function (response) {
                    $("#personal-form").html(response);
                }
            });
            e.preventDefault();
            return false;
        });
    </script>
    <script>
        $("#password-form").on("submit", function (e) {
            console.log("hai");
            $.ajax({
                type: "POST",
                url: $("#password-form > form").attr('action'),
                data: $("#password-form > form").serialize(),
                success: function (response) {
                    $("#password-form").html(response);
                }
            });
            e.preventDefault();
            return false;
        });
    </script>
    <script>
        $("#picture-form").on("submit", function (e) {
            console.log("hai");
            var formData = new FormData($(this)[0]);
            $.ajax({
                type: "POST",
                url: $("#picture-form").attr('action'),
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log(response);
                    if (response['image'] != '') {
                        console.log("should replace");
                        $("#user-picture").attr("src", response['image']);
                    }
                    if (response['error'] != '') {
                        $("#picture-errors").html(response['error']);
                    }
                    $("#picture-form").find("input").blur();
                    var pic_input = $("#picture-input");
                    pic_input.replaceWith(pic_input.clone());
                }
            });
            e.preventDefault();
            return false;
        });
    </script>
{% endblock %}
