{% extends "everest/base.html" %}

{% block title %} {{profile.userkey}} {% endblock %}
{% block pageheader %}
<div class="title">
    {{profile.userkey.first_name}} {{profile.userkey.last_name}} <i>({{profile.userkey}})</i>
</div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="subtitle">Bio</p>
                {% if profile.bio %}
                {{profile.bio}}
                {% else %}
                <p class="subtletext">User has no bio.</p>
                {% endif %}
                <div class="smallskip"></div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
                {% if profile.image %}
                <img class="avatar img-circle" height="150px" width="150px"  alt="avatar" src="{{ user.profile.image.url }}"/>
                {% else %}
                <p class="subtletext">User has no image.</p>
                {% endif %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <p class="subtitle">{{profile.userkey.first_name}} {{profile.userkey.last_name}}'s Lessons</p>
        {% with lessons as profile.userkey.lessons %}
        {% include "everest/lists/lesson_table.html" %}
        {% endwith %}
    </div>
</div>

{% endblock %}
