{% extends "everest/base.html" %}

{% block title %} {{profile.userkey | capfirst }}'s Profile {% endblock %}
{% block pageheader %}
    {{ profile.userkey.first_name | capfirst }} {{profile.userkey.last_name | capfirst }} ({{profile.userkey}}), {{ profile.get_user_type_display }}
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="subtitle">Bio</p>
                {% if profile.bio %}
                {{profile.bio}}
                {% else %}
                <p class="subtletext">{{ profile.userkey.first_name | capfirst }} {{profile.userkey.last_name | capfirst }} has no bio.</p>
                {% endif %}
                <div class="smallskip"></div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
        {% if profile.image %}
        <img id="user-picture" src="{{ request.user.profile.image.url }}" class="avatar img-circle"
                         height="150px" width="150px" alt="avatar" >
        <p class="subtletext">{{ profile.userkey.first_name | capfirst }} {{profile.userkey.last_name | capfirst }} ({{profile.userkey}})</p>
        {% else %}
        <img id="user-picture" src="http://placehold.it/150x150" class="avatar img-circle" height="150px"
                         width="150px" alt="avatar">
        <p class="subtletext">{{ profile.userkey.first_name | capfirst }} {{profile.userkey.last_name | capfirst }} has no picture.</p>
                {% endif %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        {% if profile.user_type == "E" %}
            <p class="subtitle">{{ profile.userkey.first_name | capfirst }} {{ profile.userkey.last_name | capfirst }}'s Lessons</p>
            {% include "everest/lists/lesson_table.html" with lessons=lessons %}
        {% elif profile.user_type == "T" %}
            <p class="subtitle">{{ profile.userkey.first_name | capfirst }} {{ profile.userkey.last_name | capfirst }}'s Translations</p>
            {% include "everest/lists/sentence_table.html" with sentences=sentences %}
        {% endif %}
    </div>
</div>

{% endblock %}
