body {
    background-color: #fff;
}

.title {
    background-color: #006dcc;
    color: #fff;
    letter-spacing: .025em;
    font-size: 1.75em;
    font-weight: 100;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-right: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.subtitle {
    color: #555;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 200;
    display: block;
    margin-bottom: 5%
}

.subtletext{
    font-style: italic;
    font-weight: 200;
    font-size: .8em;
}

.tableheading {
    color: #555;
    font-style: italic;
}

.padded {
    padding: 5%;
}

.padleft {
    margin-left: 2%;
}

.smallskip {
    margin-top: 5%;
}

.bigskip {
    margin-top: 15%;
}