body {
    background-color: #ffffff;
}

.title {
    color: #555;
    font-size: 1.75em;
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 5%;
}

.subtitle {
    color: #555;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 200;
    display: block;
    margin-bottom: 5%
}

.subtletext{
    font-style: italic;
    font-weight: 200;
    font-size: .8em;
}

.tableheading {
    color: #555;
    font-style: italic;
}

.box {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.box-padded {
    padding: 30px;
    border: 1px solid #dddddd;
    border-radius: 7px;
    }

.padleft {
    margin-left: 2%;
}

.smallskip {
    margin-top: 5%;
}

.bigskip {
    margin-top: 15%;
}