{% extends "everest/base.html" %}

{% block title %}Edit Lesson {% endblock %}
{% block pageheader %} The Joy of Rutabagas {% endblock %}

{% block content %}

<h3>Sentences</h3>
      <ul class="list-unstyled">
	<li><button type="button" class="btn btn-danger btn-xs"><span
	class="glyphicon glyphicon-remove"></span></button> <a href="find_sentence">The quick brown fox jumps over the
      lazy dog.</a></li>
	<li><button type="button" class="btn btn-danger btn-xs"><span
	class="glyphicon glyphicon-remove"></span></button> <a href="">carrot</a></li>
	<li><button type="button" class="btn btn-danger btn-xs"><span
	class="glyphicon glyphicon-remove"></span></button> <a href="">tomato</a></li>
	<li><button type="button" class="btn btn-danger btn-xs"><span
	class="glyphicon glyphicon-remove"></span></button> <a href="">rutabaga</a></li>
	<li><button type="button" class="btn btn-danger btn-xs"><span
	class="glyphicon glyphicon-remove"></span></button> <a href="">Are carrots purple?</a></li>
	<li><button type="button" class="btn btn-danger btn-xs"><span
	class="glyphicon glyphicon-remove"></span></button> <a href="">They used to be, but now they're orange!</a></li>
	<li><button type="button" class="btn btn-danger btn-xs"><span
	class="glyphicon glyphicon-remove"></span></button> <a
	href="">Rutabagas are the best vegetable.</a></li>
	<li>ADD SENTENCE HERE</li>
      </ul>


          <p><button type="button" class="btn btn-primary" aria-label="Download">
         <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    <b>Create audio lesson</b></button></p>
{% endblock %}
