{% extends "everest/base.html" %}

{% block title %}Everest Lesson {% endblock %}

{% block content %}
<div class="title">
    {{ lesson }}
    <form class="form-inline" action="{% url 'del_lesson' lesson.id %}" method="post">
        <input class="btn btn-danger btn-xs" type="submit" value="Delete lesson">
        {% csrf_token %}
    </form>
</div>
<ol>
    {% for sentence in lesson.sentences.all %}
    <li><a href="{% url 'view_sentence' sentence.id %}">{{ sentence }}</a>
        {% if lesson.creator == user %}
        <form action="{% url 'del_sentence' sentence.id lesson.id %}" method="post">
            {% csrf_token %}
            <input class="btn btn-default btn-xs" type="submit" value="Delete">
        </form>
        {% endif %}

    </li>
    {% endfor %}
</ol>

<div class="smallskip"></div>
<form action="{% url 'edit_lesson' lesson.id %}" method="post"> {% csrf_token %}
    <div class="input-group">
        <span class="input-group-addon">Add sentence</span>
        <input type="text" class="form-control" name="sentence" maxlength="200" autofocus>
		  <span class="input-group-btn">
		    <button class="btn btn-default" type="submit" value="{{ lesson.id }}">Submit</button>
		  </span>
    </div>
</form>
<br>
<br>
<p class="smallskip">
    <button type="button" class="btn btn-primary" aria-label="Create audio lesson">
        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
        <b>Create this audio lesson!</b>
    </button>
</p>
{% endblock %}
