{% extends "everest/base.html" %}

{% block title %}Everest Lesson {% endblock %}
{% block pageheader %} {{lesson}} {% endblock %}

{% block content %}
<h3>Sentences</h3>

    <ul class="list-unstyled">
      {% for sentence in sentences %}
      <li><button type="button" class="btn btn-danger btn-xs">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      
      <a href="/view_sentence?s={{sentence.id}}">{{sentence}}</a></li>
      
      {% endfor %}
      </ul>

	<form action="/teacher/edit_lesson?l={{lesson.id}}" method="post">
	      <div class="input-group">
		<span class="input-group-addon">Add sentence</span>
		  <input type="text" class="form-control"
		name="sentence" maxlength="200" autofocus>
		  <span class="input-group-btn">
		  <button class="btn btn-default" type="submit" name="lessonnumber" value="{{lesson.id}}">Submit</button>
		</span>
	      </div>
	      {% csrf_token %}
	      </form>

	      <br/><br/>

      <p><button type="button" class="btn btn-primary"
         aria-label="Create audio lesson">
         <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
      <b>Create this audio lesson!</b></button></p>
      
      {% endblock %}
