{% extends "everest/base.html" %}
<!-- TODO, use url tag for urls -->
{% block title %}Everest Lesson {% endblock %}

{% block content %}

<div class="row" style="margin-bottom:4%">
    <div class="col-md-8">
        <div class="title">
            {{ lesson }}
            {% if lesson.creator == user %}
            <a class="btn btn-default" href="{% url 'edit_lesson' lesson.id %}" aria-label="Edit">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Edit
            </a>
            {% endif %}
        </div>

        {% include "everest/general/sentencetable.html" with sentences=lesson.sentences.all %}

        <p>
            <button type="button" class="btn btn-primary" aria-label="Download">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                <b>Download this audio lesson!</b></button>
        </p>
    </div>

    <div class="col-md-4">
        <div class="box">
            <div class="subtitle">Lesson info:</div>
            <ul class="list-unstyled">
                <li>Created by
                    <a href="{% url 'view_user' lesson.creator.username %}">{{ lesson.creator }}</a></li>
                <li>Created on {{lesson.created|date:"SHORT_DATE_FORMAT"}}</li>
                <li>Contains {{lesson.sentences.count}} sentence{{ lesson.sentences.count|pluralize }}</li>
                </ul>
        </div>
    </div>

</div>
{% endblock %}
