{% extends "everest/base.html" %}


{% block title %}Everest Lesson {% endblock %}
{% block pageheader %} The Joy of Rutabagas {% endblock %}

{% block content %}
      <p><button type="button" class="btn btn-primary" aria-label="Download">
         <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
      <b>Download this audio lesson!</b></button></p>
<div class="row">
    <div class="col-md-6"><h3>Sentences</h3>
      <ul class="list-unstyled">
	<li><a href="find_sentence">The quick brown fox jumps over the
      lazy dog.</a></li>
	<li><a href="">carrot</a></li>
	<li><a href="">tomato</a></li>
	<li><a href="">rutabaga</a></li>
	<li><a href="">Are carrots purple?</a></li>
	<li><a href="">They used to be, but now they're orange!</a></li>
	<li><a href="">Rutabagas are the best vegetable.</a></li>
      </ul>
    </div>
    <div class="col-md-3"><h3>List owner</h3>
     <a href="">Freida</a>
    </div>
    </div>
{% endblock %}
