{% extends "everest/base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-9">
      <h1>The quick fox jumped over the lazy brown dog </h1>
      <h2>Bhutanese Translations </h2>
      <ul class="list-unstyled">
        <li> adsfasdf aklsdjfalghrbg lkasdjfalkjsdf </li>
        <li> ahalkj ajhsdkfhasd ajhah  akjsdhksh ff </li>
      </ul>
      <h4>English Audio</h4>
      <h4>Nepali Audio></h4>
  </div>
  <div class="col-lg-3">
    <ul class="list-unstyled">
      <li> Sherry's List </>
      <li> Rhonda's List </>
      <li> Harold's List </>
      <li> Diggory's List </>
    </ul>
  </div>
</div>
{% endblock %}
