{% extends "everest/base.html" %}

{% block title %} Everest Sentence {% endblock %}
{% block pageheader %} {{sentence}} <a href="" type="button"
class="btn btn-default"> Add to your own lesson </a>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4"><h3>In Nepali</h3>
    <ul class="list-unstyled">
      {% for translation in translations %}
      <li>{{translation}}</li>
      {% endfor %}
	<li>
	<form action="/translator/translate?s={{sentence.id}}" method="post">
	<div class="input-group">
	  <span class="input-group-addon">Translate:</span>
	  <input type="text" class="form-control"
	  name="sentence" maxlength="200" autofocus>
	  <span class="input-group-btn">
	  <button class="btn btn-default" type="submit" name="sentencenumber" value="{{sentence.id}}">Submit</button>
	  </span>
	</div>
	{% csrf_token %}
	</form>
	</li>
	</ul>
    </div>
    <div class="col-md-3"><h3>Audio</h3>
      <p><button type="button" class="btn btn-primary" aria-label="Play">
         <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
      English</button> (by Sherry)</p>
      <p><button type="button" class="btn btn-primary" aria-label="Play">
         <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
      Nepali</button> (by Devi) </p>
      <a href="">Add your own recording</a>
    </div>
  <div class="col-md-2" style="background-color:#f5f5f5;">
    <h3>Lessons that use this sentence:</h3>
    <ul class="list-unstyled">
      {% for lesson in lessons %}
      <li> <a href="/view_lesson?l={{lesson.id}}"> {{lesson}} </a> </>
      {% endfor %}
    </ul>
  </div>
</div>
    
{% endblock %}