{% extends "everest/base.html" %}

{% block title %}Everest Lesson {% endblock %}

{% block pageheader %}
    <div class="title">
        {{ lesson }}
        <form class="button-form" action="{% url 'del_lesson' lesson.id %}" method="post">
            <input class="btn btn-danger btn-sm padleft" type="submit" value="Delete lesson">
            {% csrf_token %}
        </form>
    </div>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="form-redirect">
                <div id="sentence-table">
                    {% include "everest/lesson/sentence_table_del.html" %}
                </div>
            </div>
        </div>
    </div>
    <p>
        <button type="button" class="btn btn-primary" aria-label="Create audio lesson">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            <b>Create this audio lesson!</b>
        </button>
    </p>
{% endblock %}

{% block scripts %}
    <script>
        $("#form-redirect").on("submit", "form", function (e) {
            var thisForm = $(this);
            $.ajax({
                type: "POST",
                url: thisForm.attr('action'),
                data: thisForm.serialize(),
                success: function (response) {
                    $("#sentence-table").html(response);
                }
            });
            e.preventDefault();
            return false;
        });
    </script>

{% endblock %}
