<table class="table table-hover">
    <tr class="info tableheading">
        <td style="width:50%"> English sentence</td>
        <td> Nepali translation</td>
        <td> English audio</td>
        <td> Nepali audio</td>
        <td> Contained in</td>
        <td> Date created</td>
    </tr>
    {% for sentence in sentences %}
    <tr>
        <td>
            <a href="{% url 'view_sentence' sentence.id %}">{{ sentence }}</a>
        </td>
        <td>
            {% if sentence.translations.count > 0 %}
            <span class="glyphicon glyphicon-ok" aria-label="Yes"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove" aria-label="No"></span>
            {% endif %}
        </td>
        <td>
            {% if sentence.eng_audio.count > 0 %}
            <span class="glyphicon glyphicon-ok" aria-label="Yes"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove" aria-label="No"></span>
            {% endif %}
        </td>
        <td>
            {% if sentence.nep_audio.count > 0 %}
            <span class="glyphicon glyphicon-ok" aria-label="Yes"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove" aria-label="No"></span>
            {% endif %}
        </td>
        <td>
            {{ sentence.lessons.count }} lesson{{ sentence.lessons.count|pluralize }}
        </td>
        <td>
            {{ sentence.created|date:"SHORT_DATE_FORMAT" }}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>
            <p class="subtletext">No sentences found.</p>
        </td>
    </tr>
    {% endfor %}
</table>