<table class="table table-hover">
        {% for user in users %}
            <tr>
                <td style="width:30%">
                    <a href="{% url 'view_user' user.username %}">
                        {{ user.first_name|title }} {{ user.last_name|title }}&nbsp;
                        ({{ user.username|lower }})
                    </a>
                </td>
                <td>
                    {{ user.profile.bio }}
            </td>
            <td>
                {{ user.profile.user_type }}
            </td>
               </tr>
        {% empty %}
            <tr>
                <td>
                    No Users Found
                </td>
            </tr>
        {% endfor %}
    </table>