<table class="table table-hover">
    <tr class="info tableheading">
        <td style="width:20%"> Name</td>
        <td style="width:15%"> Username</td>
        <td style="width:15%">User type</td>
        <td style="width:50%"> Bio</td>
    </tr>
    {% for user in users %}
        <tr>
            <td style="width:30%">
                <a href="{% url 'view_user' user.username %}">
                    {{ user.first_name|title }} {{ user.last_name|title }}</a>
            </td>
            <td>
                {{ user.username|lower }}
            </td>
            <td>
                {{ user.profile.get_user_type_display }}
            </td>
            <td>
                {{ user.profile.bio }}
            </td>

        </tr>
    {% empty %}
        <tr>
            <td>
                <p class="subtletext">No users found.</p>
            </td>
        </tr>

    {% endfor %}
</table>