<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Password reminder</title>
    </head>
    <body>

    <p>Dear {{ user.first_name|capfirst }},</p>

    <p>Here is your new password on Everest, the
ESL website for Pittsburgh's Bhutanese community:</p>

    <p>"{{ password }}"</p>

    <p>You can now log in, using this password, at:<br/>
    {{ url }} </p>

    <p>Warm regards,</p>

    <p>The Everest Team</p>

    </body>
</html>