<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Example document</title>
    </head>
    <body>

    <p>Dear {{ user.first_name|capfirst }},</p>

    <p>Congratulations! Your application to The Social Network has been accepted.
    Please click <a href="{% url verify 'user' 'token' %}">here</a> to verify your email address.</p>

    <p>If that didn't work, copy and paste the following line into your address bar:</p>

    <p>"{% url verify 'user' 'token' %}"</p>

    <p>If this request was not made by you, it is probably the end of the world,
    and we encourage you to panic!</p>

    <p>Warm Regards,</p>

    <p>The Team</p>

    </body>
</html>