<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Everest password reset</title>
    </head>
    <body>

    <p>Dear {{ user.first_name|capfirst }},</p>

    <p>A password reset has been requested for your account on Everest, the
ESL website for Pittsburgh's Bhutanese community.</p>

    <p>To reset your password, please go to:</p>

    <p>"{{ url }}"</p>

    <p>If you didn't request a password reset, you can safely ignore this message.</p>

    <p>Warm regards,</p>

    <p>The Everest Team</p>

    </body>
</html>